# Docker-compose file for AmCAT4, consisting of 4 services:
# - web_server: a Caddy server that serves the web client and proxies API requests to the API container
# - web_client: the AmCAT4 web client
# - api: the AmCAT4 API server
# - db: an Elasticsearch database for AmCAT4
#
# For most use cases, you should not need to edit this file
# Instead, set environment variables in a .env file
# You can copy dotenv_example to .env and edit the values there

services:
  web_server:
    image: caddy:2-alpine
    container_name: katty
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - AMCAT4_URL=${AMCAT4_URL:-http://localhost}
      - DOCKER_AMCAT_API=api:5000
      - DOCKER_AMCAT_UI=web_client:3000
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - amcat-net
    depends_on:
      - "web_client"
      - "api"
  web_client:
    image: ccsamsterdam/amcat4client:${AMCAT4_VERSION:-4.1.0}
    build: ./amcat4client
    container_name: amcat4client
    restart: unless-stopped
    networks:
      - amcat-net
    environment:
      - AMCAT4_API=${AMCAT4_API:-http://localhost/api}
      - AMCAT4_SERVER_API=http://api:5000
      - COOKIE_SECRET=${AMCAT4_COOKIE_SECRET:-be sure to change this or provide COOKIE_SECRET in production!}
    depends_on:
      - "api"
  api:
    image: ccsamsterdam/amcat4:${AMCAT4_VERSION:-4.1.0}
    build: ./amcat4
    container_name: amcat4
    restart: unless-stopped
    networks:
      - amcat-net
    environment:
      # note that these take precedence over values set in `amcat4 config``
      - amcat4_elastic_host=${amcat4_elastic_host:-http://elastic8:9200}
      - amcat4_host=${AMCAT4_API:-http://localhost/api}
      - amcat4_elastic_password
      - amcat4_elastic_verify_ssl
      - amcat4_system_index
      - amcat4_auth
      - amcat4_middlecat_url
      - amcat4_admin_email
      - FORWARDED_ALLOW_IPS=*
    depends_on:
      db:
        condition: service_healthy
  db:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.18.4
    container_name: elastic8
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD-SHELL",
          'curl -s http://localhost:9200/_cluster/health | grep -vq ''"status":"red"''',
        ]
      interval: 5s
      timeout: 5s
      retries: 15
    # for security reasons, the database is only exposed to the other containers in the amcat-net network
    # to make it available, set ELASTIC_PUBLISHED_PORT to 9200: in the .env file
    ports:
      - "${ELASTIC_PUBLISHED_PORT:-}9200"
    networks:
      - amcat-net
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      # Set heap memory in .env to at most half available memory, and at most 32g
      - ES_JAVA_OPTS=-Xms${ELASTIC_MEMORY:-1g} -Xmx${ELASTIC_MEMORY:-1g}
    volumes:
      - ${ELASTIC_DATA_STORAGE:-elastic-volume}:/usr/share/elasticsearch/data:rw

networks:
  amcat-net:

volumes:
  elastic-volume:
  caddy_data:
  caddy_config:
